<%= link_to airplane_path(airplane) do %>
  <div class="airplane-card">
    <img src=<%= airplane.image_url %> alt="✈️" class="plane-image">
    <p>Hangar spot number: <%= airplane.id%></p>
    <p>Model: <%= airplane.model %> </p>
    <p>Crew: <%= airplane.crew %></p>
  </div>
<% end %>
