<div class="container">
  <%= form_for(@airplane) do |f| %>
  <%= f.label :model %>
  <%= f.text_field :model %>
  <%= f.label :crew %>
  <%= f.text_field :crew %>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %>
  <%= f.submit "Park airplane in the hangar" %>
  <% end %>
</div>
