<div class="container">
  <h1> Plane #<%= @airplane.id%></h1>
  <%= link_to 'Return to hangar', airplanes_path %>
   <div class="airplane-card">
      <img src=<%= @airplane.image_url %> alt="✈️" class="plane-image">
      <p>Hangar spot number: <%= @airplane.id%></p>
      <p>Model: <%= @airplane.model %> </p>
      <p>Speed: <%= @airplane.speed %> </p>
      <div class="airplane-bottom">
        <%= link_to 'Update airplane', edit_airplane_path(@airplane), class: 'btn btn-info' %>
        <%= link_to 'Remove from hangar', airplane_path(@airplane), method: :delete, class: 'btn btn-danger' %>
        <%= link_to 'Add a crew member', new_airplane_crew_member_path(@airplane), class: 'btn btn-secondary' %>
      </div>
      <% unless @airplane.crew_members.empty? %>
          <h3 class="my-3">Crew for this plane:</h3>
          <div class="crew-grid">
            <% @airplane.crew_members.each do |crew|%>
              <div class="crew-member border rounded p-3">
                <p> Name: <%= crew.name%> </p>
                <p>Position: <%= crew.position %> </p>
                <%= link_to 'Remove crew', crew_member_path(crew),method: :delete, class: 'btn btn-danger' %>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
</div>
